@use './_breakpoints' as *;
@use './_nav.scss' as *;
@use './_about.scss' as *;
@use './_service.scss' as *;
@use './_contact.scss' as *;
@use './animations.scss' as *;

* {
  box-sizing: border-box;
}

html, body {
  --blue: #1c47ff;
  --pink: #d6a3fb;
  --green: #d0ff94;
  --grey: #e5e5e5;
  --white: #ffffff;
  --black: #000000;
  --text-background: #1f1a1c;
  --border-radius: 50px;
  --gutter: 3vw 6vw;

  margin: 0;
  padding: 0;
  background: var(--black);
  color: var(--white);
  font-family: "Syne", serif;
  line-height: 1.2;
}

@include respond(tablet) {
  html, body {
    --border-radius: 100px;
  }
}
